<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/loginStyle.css">

    <title>Mercado Liebre Login</title>
</head>

<body>
    <!--
        HEADER
    -->
    <header>
        <div class="header-container">
            <div class="toolbar">
                <div class="logo">
                    <img src="images/logo-mercado-liebre.svg" alt="logo mercado liebre">
                </div>
                <div class="search-bar">
                    <input type="text" class="text-input-search" placeholder="Buscar productos, marcas y más">
                    <button><i class="fas fa-search"></i></button>
                </div>
                <div class="comprar-en-cuotas-sin-tarjetas">
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprar en cuotas sin tarjetas
                </div>
            </div>
            <div class="nav-bar">
                <ul id="id-nav-bar-ul">
                    <li>
                        <a href="">Ofertas</a>
                    </li>
                    <li>
                        <a href="">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="">Vender</a>
                    </li>
                    <li>
                        <a href="">Ayuda</a>
                    </li>
                </ul>
                <ul id="id-nav-bar-ul">
                    <li>
                        <a href="/register">Creá tu cuenta</a>
                        <i class="fas fa-address-card"></i>
                    </li>
                    <li>
                        <a href="">Ingresá</a>
                        <i class="fas fa-sign-in-alt"></i>
                    </li>
                    <li>
                        <a href="">Mis compras</a>
                        <i class="fas fa-shopping-basket"></i>
                    </li>
                </ul>
            </div>
            <div class="burger-menu">
                <button>
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </div>
    </header>

    <!--
        MAIN
    -->
    <main>
        <div class="main-container">
            <form action="/home" method="GET">
                <input type="text" value="" placeholder="Nombre de usuario">
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <button type="submit">Ingresar</button>
            </form>
        </div>
    </main>


    <!--
        FOOTER
    -->
    <footer>
        <div class="footer-container">
            <section id="id-sections-footer">
                <div class="forma-de-pago">
                    <i class="fas fa-credit-card" id="id-icons-footer"></i>
                    <h4>Pagá con tarjeta o efectivo</h3>
                        <p>
                            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos
                            de pago. Y siempre seguro!
                        </p>
                </div>
            </section>
            <section id="id-sections-footer">
                <div class="envio-gratis">
                    <i class="fas fa-gift" id="id-icons-footer"></i>
                    <h4>Envío gratis desde $2.500</h3>
                        <p>
                            Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
                            productos. Es un beneficio de Mercado Puntos.
                        </p>
                </div>
            </section>
            <section id="id-sections-footer">
                <div class="seguridad">
                    <i class="fas fa-user-shield" id="id-icons-footer"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>
                        No te gusta? Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estás
                        siempre protegid@.
                    </p>
                </div>
            </section>
            <section id="id-sections-footer">
                <h4>Copyright &copy;1999-2020 Mercado Liebre S.R.L</h4>
            </section>
        </div>

    </footer>

</body>

</html>